VU2RVC_0928/CsA_orarend.dtd

<DOCTYPE orarend [
<!ELEMENT orarend (ora)+>
<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap, kezdes, vege)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT kezdes (#PCDATA)>
<!ELEMENT vege (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
]>